*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
}
:root{
    --main-color: #007aff;
}
body{
    background-color: #eee;
}
section{
    margin-block: 80px;
}


nav.navbar {
    background-color: #0009;

}
header h1{
    font-size: 60px;
}
.nav-item{
    position: relative;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link::after{
    content: "";
    background-color: #fff;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 5px;
    left: 8px;
    transition: width 300ms;
}
.navbar-light .navbar-nav .nav-link:hover::after{
    width: 60%;
}
.navbar-light .navbar-nav .nav-link.active::after {
    width: 60%;
}

.dropdown{
    position: relative;
}
.drop-items{
    position: absolute;
    left: 0px;
    top: 50px;
    width: 200px;
    opacity: 0;
}
.drop-items a{
    color: #1e1e1e;
    background-color: #fff;
    text-decoration: none;
    padding: 8px 60px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
}
.nav-item:hover .drop-items{
    opacity: 1;
  }


  /*######### Home Section ##########*/

.hero-content{
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)) ,url('../images/hero-bg.jpg'); 
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
}
.hero-content h1{
    position: relative;
}
.hero-content h1::after{
    content: "";
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    animation: type 15s infinite;
    font-size: 30px;
    color: #fff;
}

@keyframes type {
    0% {
        content: "D|";
    }

    1% {
        content: "De|";
    }

    2% {
        content: "Des|";
    }

    3% {
        content: "Desi|";
    }

    4% {
        content: "Desig|";
    }

    5% {
        content: "Design|";
    }

    6% {
        content: "Designe|";
    }

    7% {
        content: "Designer|";
    }
    17%{
        content: "Designer|";
    }

    18% {
        content: "Designe|";
    }

    19% {
        content: "Design|";
    }

    20% {
        content: "Desig|";
    }

    21% {
        content: "Desi|";
    }

    22% {
        content: "Des|";
    }

    23% {
        content: "De|";
    }

    24% {
        content: "D|";
    }

    25% {
        content: "De|";
    }

    26% {
        content: "Dev|";
    }

    27% {
        content: "Deve|";
    }

    28% {
        content: "Devel|";
    }

    29% {
        content: "Develo|";
    }

    30% {
        content: "Develop|";
    }

    31% {
        content: "Develope|";
    }

    32% {
        content: "Developer|";
    }

    42%{
        content: "Developer|";
    }

    43% {
        content: "Develope|";
    }


    44% {
        content: "Develop|";
    }


    45% {
        content: "Develo|";
    }

    46% {
        content: " Devel|";
    }


    47% {
        content: "Deve|";
    }


    48% {
        content: "Dev|";
    }


    49% {
        content: "De|";
    }


    50% {
        content: "D|";
    }


    51% {
        content: "F|";
    }


    52% {
        content: "Fr|";
    }

    53% {
        content: "Fre|";
    }

    54% {
        content: "Free|";
    }

    55% {
        content: "Freel|";
    }

    55% {
        content: "Freela|";
    }

    57% {
        content: "Freelan|";
    }

    58% {
        content: "Freelanc|";
    }

    59% {
        content: "Freelance|";
    }

    60% {
        content: "Freelancer|";
    }

    70% {
         content: "Freelancer|";
    }

    71% {
        content: "Freelance|";
    }

    72% {
        content: "Freelanc|";
    }

    73% {
        content: "Freelan| ";
    }

    74% {
        content: "Freela|";
    }

    75% {
        content: "Freel|";
    }

    76% {
        content: "Free|";
    }

    77% {
        content: "Fre|";
    }

    78% {
        content: "Fr|";
    }

    79% {
        content: "F|";
    }

    80% {
        content: "P|";
    }

    81% {
        content: "Ph|";
    }

    82% {
        content: "Pho|";
    }

    83% {
        content: "Phot|";
    }

    84% {
        content: "Photo|";
    }

    85% {
        content: "Photog|";
    }

    86% {
        content: "Photogr|";
    }

    87% {
        content: "Photogra|";
    }

    88% {
        content: "Photograp|";
    }

    89% {
        content: "Photograph|";
    }

    90% {
        content: "Photographe|";
    }

    91% {
        content: "Photographer|";
    }

    92% {
        content: "Photographe|";
    }

    93% {
        content: "Photograph|";
    }

    94% {
        content: "Photograp|";
    }

    95% {
        content: "Photogra|";
    }

    96% {
        content: "Photogr|";
    }

    97% {
        content: "Photog|";
    }

    98% {
        content: "Photo|";
    }

    99% {
        content: "Phot|";
    }

    100% {
        content: "Pho|";
    }

    100% {
        content: "Ph|";
    }

    100% {
        content: "P|";
    }

}


/*######### About Section ##########*/

.info ol li{
    font-size: 18px;
    font-weight: 600;
    color: #1e1e1e;
}
.info ol li span{
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 400;

}
.skill .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}
h3.about{
    position: relative;
}
h3.about::after{
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    background-color: var(--main-color);
    left: 0;
    bottom: -10px;
}
.right p{
    font-size: 20px;
    font-weight: 300;
    color: #4e4e4e;
}


/*######### Services Section ##########*/

.title{
    position: relative;
    text-align: center;
}
.title header {
    font-size: 50px;
}
.title::after{
    content: "";
    width: 40px;
    height: 5px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
div.card{
    padding: 20px;
}
#services .card {
    border-radius: 15px;
}
.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: solid 8px var(--main-color);
    border-radius: 50%;
    transition: all 300ms;
}
div.card:hover .icon-circle{
    color: white;
    background-color: var(--main-color);
    box-shadow: 0 0 0 10px #cde1f8;
}

.numbers{
    background-image:linear-gradient(#0077ff88, #0077ff88) ,url('../images/counters-bg.jpg'); 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed;

}
.numbers .container{
    padding-block: 120px;
}
.numbers .container .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 5px auto;
    padding: 10px;
    border: solid 8px #cde1f8;
    border-radius: 50%;
    font-size: 26px;
}



/*######### Work Section ##########*/

.btn{
    color: var(--main-color);
    background-color: #fff;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
}
.btn:hover {
    color: var(--main-color);
}
.card-title{
    font-size: 18px;
}
.card-text{
    font-size: 14px;
    font-weight: 300;
}
.card-text span{
    color: var(--main-color);
    font-size: 12px;
    font-weight: 500;
}
.card .work-img{
    overflow: hidden;
}
.card img{
    transition: transform 800ms;
}
#work .card:hover img{
    transform: scale(1.3);

}

.members{
    height: 500px;
    background-image:linear-gradient(#0077ff88, #0077ff88) ,url('../images/overlay-bg.jpg'); 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed;

}
.carousel-item{
    position: absolute;
    top: 120px;
}
.carousel-item img{
    width: 150px;
}
.carousel-indicators {
    position: absolute;
    bottom: 70px;
}
.carousel-indicators [data-bs-target]{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


/*######### Blog Section ##########*/

#blog .card-body{
    position: relative;
    margin-top: 15px;
}
#blog .card-box{
    background-color: var(--main-color);
    width: fit-content;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 10px 20px;
}
#blog .card-box h6{
    margin: 0;
    font-size: 12px;
}
#blog .card-text{
    color: #4e4e4e;
}
#blog .card-footer img{
    width: 30px;
    height: 30px;
}
#blog .card-body h5{
    transition: color 300ms;
}
#blog .card-body h5:hover{
    color: var(--main-color);
}
#blog .card-footer p{
    transition: color 300ms;
}

#blog .card-footer p:hover {
    color: var(--main-color);
}


/*######### Contact Section ##########*/

.form-control {
    padding: 10px;
    border-radius: 0;
}
textarea.form-control {
    min-height: 150px;
}
form button{
    background-color: var(--main-color);
    color: white;
    border: #007aff solid 1px;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-inline: auto;
    transition: all 500ms;
}
form button:hover{
    background-color: #468fde;
    box-shadow: 0px 0px 0px 5px #acc9e7;
}

#contact{
    padding-bottom: 30px;
    padding-top: 70px;
     background-image:linear-gradient(#0077ff88, #0077ff88) ,url('../images/overlay-bg.jpg'); 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed;
}
.icons .icon-circle {
    margin: 0 auto;
    width: 45px;
    height: 45px;
    border: solid 3px var(--main-color);
    border-radius: 50%;
    transition: all 700ms;
    font-size: 18px;
}
div.icon-circle:hover{
    color: white;
    background-color: var(--main-color);
    box-shadow: 0 0 0 3px #cde1f8;
}

footer{
    background-color: #0751a1;
}

@media screen and (max-width:690px) {
    .hero-content h1 {
        font-size: 34px;
        }
}